<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.CartMapper">

<!--user id가 일치하는 회원의 전체 장바구니 정보 불러오기 -->
	<select id="userCartList" parameterType="String" resultType="com.smhrd.model.Cart">
		select pro_id, pro_volume from shopping
		where user_id=#{userId}
	</select>

<!-- 불러온 상품id와 일치하는 상품정보 불러오기(상품이미지, 상품명, 가격) -->
	<select id="productNameAndPriceList" parameterType="String" resultType="com.smhrd.model.ProductInfo">
		select pro_name, pro_price from product
		where pro_id=#{proId}
	</select>



</mapper>