<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.Search">



	<select id="selectPro" parameterType="string" resultType="com.smhrd.model.Search">
		select * from product a 
		inner join product_img b on a.pro_id = b.pro_id
		where a.pro_name like '%'||#{parameter}||'%'
		

	</select>






</mapper>