<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.User">

	<insert id="Join" parameterType="com.smhrd.model.User" >
		insert into userinfo values(
			#{user_id},
			#{user_pw},
			#{user_name},
			#{user_gender},
			#{age},
			#{address},
			#{phone},
			#{email},
			sysdate
		)
		
	</insert>
	
	<insert id="UserFoot" parameterType="com.smhrd.model.UserFoot">
		insert into foot values(
			#{user_id},
			#{foot_size},
			#{foot_width},
			#{foot_height},
			#{foot_flat}
			
		)
		
	</insert>
	



</mapper>