  .regist_2 {
    margin: 5px;
  }

  .survey {
    margin-left: 30px;
  }

  .membership1 {
    text-decoration: none;
    color: black;
  }  
  
  .round {
    border-radius: 50%;
  }
  
  /* 색깔 찾아보기 */
  .zipSearch {
    background-color: grey;
    color: aliceblue;
  }
  